@mixin mobile-basic($resolution, $key) {
  @media not all and (max-width: #{$resolution}) {
    .less-#{$key} {
      display: none;
    }
  }

  @media (max-height: #{$resolution}) {
    .more-height-#{$key} {
      display: none;
    }
  }

  @media (max-width: #{$resolution}) {
    .more-#{$key} {
      display: none;
    }

    .flex-#{$key}-25 {
      flex-wrap: wrap;

      >.col5,
      >.col6 {
        width: 25%;
      }

      >.col2,
      >.col3,
      >.col3-2,
      >.col4-3,
      >.col5-2,
      >.col5-3,
      >.col5-4,
      >.col6-5 {
        width: 100%;
      }
    }

    .flex-#{$key}-33 {
      flex-wrap: wrap;

      >.col4,
      >.col5,
      >.col6 {
        width: 33.3333%;
      }

      >.col2,
      >.col3-2,
      >.col4-3,
      >.col5-2,
      >.col5-3,
      >.col5-4,
      >.col6-5 {
        width: 100%;
      }
    }

    .flex-#{$key}-50 {
      flex-wrap: wrap;

      >.col3,
      >.col4,
      >.col5,
      >.col5-2,
      >.col6 {
        width: 50%;
      }

      >.col3-2,
      >.col4-3,
      >.col5-3,
      >.col5-4,
      >.col6-5 {
        width: 100%;
      }
    }

    .flex-#{$key} {
      flex-wrap: wrap;

      >.col2,
      >.col3,
      >.col4,
      >.col5,
      >.col6,
      >.col3-2,
      >.col4-3,
      >.col5-2,
      >.col5-3,
      >.col5-4,
      >.col6-5 {
        width: 100%;
      }
    }

    .flex-column-reverse-#{$key} {
      flex-direction: column-reverse;
    }

    .nocolumn-#{$key} {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .column-#{$key} {
      padding-left: 3em !important;
      padding-right: 3em !important;

      @media (max-width: 768px) {
        padding-left: 2em !important;
        padding-right: 2em !important;
      }
    }

    .column-half-#{$key} {
      padding-left: 1.5em !important;
      padding-right: 1.5em !important;

      @media (max-width: 768px) {
        padding-left: 1em !important;
        padding-right: 1em !important;
      }
    }
  }
}

// @include mobile-basic($resLarge, "large");
// @include mobile-basic($resTablet, "tablet");
// @include mobile-basic($resPhone, "phone");
