@use "sass:math";

$contentWidth: 60rem;
// $contentWidthWide: 120rem;
// $contentWidthText: 45rem;
$spacing: 3rem;
// $wrapperSpacing: 3rem;
$fontRatio: math.div(100rem, $contentWidth);

$navWidth: 25rem;

$resLarge: 1280px;
$resTablet: 900px;
$resPhone: 450px;

$colorContent: #000;
$colorBg: #fff;

@font-face {
  font-family: "Monument Grotesk";
  src: url("../media/MonumentGrotesk-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Covered By Your Grace";
  src: url("../media/CoveredByYourGrace-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin fontDefault() {
  font-family: "Monument Grotesk", sans-serif;
}

@mixin fontAccent() {
  font-family: "Covered By Your Grace", sans-serif;
}
