@use "variables" as *;

.icons-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;

  @media (max-width: $resTablet) {
    gap: 2rem;
  }

  @media (max-width: $resPhone) {
    gap: 1rem;
  }

  .icon {
    width: calc(33.3333% - 2rem);

    .image-wrap {
      padding-bottom: 55%;

      img {
        object-fit: contain;
      }
    }

    &__name {
      text-align: center;
      margin-top: 1rem;
    }
  }
}

.logo-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  @media (max-width: $resTablet) {
    gap: 2rem;
  }

  @media (max-width: $resPhone) {
    gap: 1rem;
  }

  .logo {
    width: calc(33.3333% - 2rem);

    .image-wrap {
      padding-bottom: 45%;

      img {
        object-fit: contain;
      }
    }
  }

  a.logo {
    position: relative;
    top: 0;
    transition: 0.3s;

    &:hover {
      top: -0.5rem;
    }
  }
}
