@use "variables" as *;

#top {
  position: relative;
  height: calc(var(--vh, 1vh) * 100);

  #top-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - $navWidth);
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  @media (max-width: $resLarge) {
    height: 50vw;

    #top-bg {
      width: 100%;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

#eating {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;

  .eating-section {
    position: relative;
    width: calc(33.3333% - 2rem);
  }

  .eating-img {
    width: calc(33.3333% - 2rem);

    img {
      width: 180%;
      max-width: none;
      margin-left: -80%;
    }
  }

  .eating-text {
    width: calc(66.6667% - 1rem);
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #eating-bottom-img {
    display: block;
    width: 33.3333%;
    height: auto;
    margin: -10% 0 -5% auto;
  }
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 8rem;

  img {
    display: block;
    width: 100%;
    height: auto;
    animation: spin 2s infinite;
  }
}

#contact {
  display: flex;
  align-items: center;
  gap: 3rem;

  #contact-map {
    width: calc(50% - 1.5rem);
  }

  #contact-text {
    width: calc(50% - 1.5rem);
  }
}
