@use "variables" as *;

.image-group-wrap {
  position: relative;

  .image-group {
    display: flex;
    gap: 3rem;

    .image-column {
      width: 50%;
    }

    &--slider {
      gap: 0rem;

      .image-column {
        .image-wrap {
          width: calc(100% - 3rem);
        }
      }
    }

    @media (max-width: $resTablet) {
      gap: 2rem;

      &--slider .image-column .image-wrap {
        width: calc(100% - 2rem);
      }
    }

    @media (max-width: $resPhone) {
      gap: 1rem;

      &--slider .image-column .image-wrap {
        width: calc(100% - 1rem);
      }
    }
  }

  .slider-sizer {
    width: calc(50% + 1.5rem);

    @media (max-width: $resTablet) {
      width: calc(50% + 1rem);
    }

    &--slider .image-column .image-wrap {
      width: calc(50% + 0.5rem);
    }
  }

  .image-group-arrows {
    position: absolute;
    top: 0;
    left: 100%;
    width: 6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media (max-width: ($navWidth + $contentWidth + 9rem)) {
      width: 3rem;
    }

    @media (max-width: $resTablet) {
      left: calc(100% - 1.5rem);
    }

    .image-group-next,
    .image-group-prev {
      position: relative;
      left: 0;
      width: 2rem;
      height: 2rem;
      font-size: 2rem;
      background-color: $colorBg;
      display: flex;
      justify-content: center;
      line-height: 0.75em;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s;
    }

    .image-group-info {
      background-color: $colorBg;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 0.75em;
    }

    .image-group-next:hover {
      left: 0.25em;
    }

    .image-group-prev:hover {
      left: -0.25em;
    }
  }
}
