@use "./variables" as *;

.content-wrap {
  position: relative;
  margin-left: $navWidth;
}

.text {
  padding: 0 3rem;
  font-size: max(min(1.5rem, 1.5vw * $fontRatio), 1.1rem);

  @media (max-width: $resTablet) {
    padding: 0;
  }
}

.bubble-wrap {
  display: flex;
  pointer-events: none;
}

.bubble {
  @include fontAccent();
  position: relative;
  text-transform: uppercase;
  padding: 0.5em 1em 1em 1em;
  font-size: max(min(1.5rem, 1.5vw * $fontRatio), 1.1rem);

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__left {
    display: block;
    width: auto;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__center {
    display: block;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &__right {
    display: block;
    width: auto;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.bubble-sketch {
  margin-left: -2rem;
  gap: 3rem;
  align-items: center;

  .bubble-wrap {
    width: 66.6667%;
  }

  img {
    width: calc(33.3333% - 3rem);
  }
}

.image-group {
  display: flex;
  gap: 3rem;

  .image-wrap {
    position: relative;
    width: 50%;
    padding-bottom: 66.7%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
